Bruna_Figures.log
Bruna_MS.fff
Bruna_MS.tex
Bruna_MS.ttt
SuppInfo_binder.log
SuppInfo_text.tex
fed_codes_table.log
fed_codes_table.tex
fed_codes_table_cache
uni_codes_table.log
Bruna_MS.log
Bruna_Supporting_Info.log
Bruna_Supporting_Info.tex
